body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

header img {
    height: 100%;
    margin-right: 10px;
}

#codeArea, #consoleArea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    overflow: auto;
    resize: none;
    box-sizing: border-box;
}

#codeArea {
    height: 350px;
}

.codeAreaContainer{
    margin: 10px;
    border: 1px solid black;
}

#consoleArea {
    height: 320px;
}

footer {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: black;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.5;
    padding: 9px 20px;
    margin: 5px;
    text-align: center;
    user-select: none;
    touch-action: manipulation;
    transition: opacity 0.3s;
}

button:hover,
button:focus {
    opacity: .75;
}
